<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Make My Trip">
 
	<!-- <listeners>
		<listener class-name="Com.Guru99.Utilities.ExtentReporterNG" />
	</listeners> -->


	<test name="MakeMyTrip_Functional">
		<!--  <parameter name="browser" value="chrome" />-->
		<classes>
			<class name="com.makemytrip.TestCases.HomePageTest"/>
		</classes>

	</test>

</suite>